<li>
	{{this.burger_name}}

	<button class="devour-burger" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}Eat da Bureger!{{else}}IM Full!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
